<!DOCTYPE html>
<meta charset="utf-8">
<html>

<head>
   <link rel="stylesheet" type="text/css" href="./css/main.css">
   <script type="text/javascript" src="js/rain.js"></script>
   <link rel="icon" href="./img/favicon.ico" />
   <title>Datamaran Test</title>
</head>

<body >
   <canvas id="datamaran" style="position: fixed; background-color: white" width="100%" height="auto"></canvas>
   <div style="position: absolute;top: 0;">
      <ul>
         <li><a href="/">Instruction</a></li>
         <li><a href="/test">Test to complete</a></li>
         <div id="dmSwitch" >
               <label id="switchLab"><span class="blueText"></span><span id="switch"><input  onclick="displayOrNotDisplay()" id="dmCbx"type="checkbox" ><span></span></span><span class="blueText">Stop animation</span></label>
            </div>
      </ul>
      <img class="topImg" src="./img/data_surf_2.jpg">
      <div id="infoContent">
         	
         <h1>{{title}}</h1>
         <p>A big corporate company is conducting a survey for quality of their product. They have been producing
            these cool hydrofoil surfboards, and they are asking customers to rank the product from 0 - 10 on following
            dimensions</p>

         <p>1) Features</p>
         <p>2) Reliability</p>
         <p>3) Durability </p>
         <p>4) Serviceability </p>
         <p>5) Aesthetics</p>

         <p>Company also conducted a survey internally and asked their employees to rank the product on same dimensions.
            We have results for both customer survey and internal survey and we want to compare the results by plotting
            a chart.</p>

         <p>Data for customer survey is stored in the collection customer_data and data for internal employees is stored
            in employee_data. We have webservice to get the customer and employe data from the database. Following is
            the GET API you need to call for that:</p>
            <p class="hl"> http://localhost:5000/webservice  </p>
         
         <p>Response Type:</p>
         <pre>
               {
                  "customerData":[
                     {
                        "_id":"5c9e06957c9cd001d2dfd679",
                        "user":"Turner",
                        "features":5,
                        "reliability":7,
                        "durability":9,
                        "serviceability":1,
                        "aesthetics":3,
                        "__v":0
                     },
                     {
                        "_id":"5c9e06957c9cd001d2dfd67e",
                        "user":"Charli",
                        "features":2,
                        "reliability":8,
                        "durability":0,
                        "serviceability":4,
                        "aesthetics":6,
                        "__v":0
                     }
                  ],
                  "employeData":[
                     {
                        "_id":"5c9e06947c9cd001d2dfd658",
                        "user":"Abraham",
                        "features":4,
                        "reliability":2,
                        "durability":9,
                        "serviceability":3,
                        "aesthetics":9,
                        "__v":0
                     },
                     {
                        "_id":"5c9e06947c9cd001d2dfd659",
                        "user":"Ashlynn",
                        "features":6,
                        "reliability":5,
                        "durability":3,
                        "serviceability":3,
                        "aesthetics":7,
                        "__v":0
                     }
                  ]
               }
      </pre>
         <h1> Exercise:</h1>
         <p>We want you to create a chart where on the X axis we have an average of the scores for the
            dimension(Features, Reliability, Durability etc.) for employees and on the Y axis we have an average of the
            scores for customers. When user clicks on a point we should be able to show them the user name and rank he
            has given to the dimension in a popup.
            Please create a chart using D3.js library and try to match the design and styling as we have below in
            screenshot.
            <p>We will be evaluatin on following dimensions:
           <p> - Code should be functional and it should show correct output - Code Readability and Maintainability</p><p> 
              - Standard coding practices in web application </p><p>
                 - Unit tescases would be an added advantage</p>
            You can modify these files : <p class="hl">Exercise/src/views/test.html </p>
            <p class="hl">Exercise/src/routes/testToComplete.js </p>
            You can create a .css file and a .js file in : <p class="hl">Exercise/src/views/css </p> and <p class="hl">
               Exercise/src/views/js </p>
         </p>

         <p> This is the value of each average score ( you have to calculate them it is just for you to see the right
            value )</p>
         <img style=" width: 30%"src="./img/avrg.png">
         <p> Here a screenshot of the expected graph</p>
         <img style=" width: 80%" src="./img/screenshoot.png" />
         <p> When the user click on a point,Popup should show the data for customer and employee. There should be a
            toggle to switch between customer/employee data and you should show user name and score: </p>
         <img style=" width: 80%" src="./img/screenshoot2.png" />
      </div>
   </div>
</body>
<script>
   var confetti = new ConfettiGenerator(confettiSettings);
   confetti.render();
   function displayOrNotDisplay() {
  var checkBox = document.getElementById("dmCbx");

  if (checkBox.checked == false){
   datamaran.style.display = "block";
  } else {
   datamaran.style.display = "none";
  }
}
</script>
dmBackground
</html>