body {
    margin: 0px !important;
}


ul {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    list-style-type: none;
    margin:0 ;
    padding:0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

img {
    width: 700px;
    box-shadow: 5px 5px 5px 0 rgba(0,0,0,.2);
    border-radius: 20px;
    display: block;
  margin-left: auto;
  margin-right: auto;
}
#infoContent{
    background-color: #156b75;
    padding:30px; 
    border-radius: 20px;
    color: white;    
    font: 50 1.2em 'Montserrat', Arial, Sans-Serif;
    box-shadow: 5px 5px 5px 0 rgba(0,0,0,.2);
    margin: 20px 15%;
}
.hl{
    background-color: rgba(0, 0, 0, 0.541);
    border-radius: 30px;
    color: #05fbff;
    padding:5px 15px;
    box-shadow: 5px 5px 5px 0 rgba(0,0,0,.2);
}
pre {
    background-color: rgba(0, 0, 0, 0.541); 
    border-radius: 30px;
    color: #05fbff;
    padding-top:10px;
    font-size: 12px;
    box-shadow: 5px 5px 5px 0 rgba(0,0,0,.2);
}
/* switch */
#dmSwitch {
    margin-top: 13px;
    color: white;
}
#dmSwitch:hover #switch > span {
    background-color: #fd8005;
    margin-top: 13px;
    color: white;
}
#switch + span {
	margin-left: 2.5em;
}
#switchLab {
	cursor: pointer;
}
#switch {
    position: relative;
    margin-left: 0.5em;
  }
  #switch input {
    display: none;
  }
  #switch span {
      position: absolute;
      left: 0;
      bottom: 0;
      cursor: pointer;
      width: 2em;
      height: 1em;
      background-color: #196062;
      transition: 0.5s;
      border-radius: 34px;
      border: 1px solid #00e8e1;
  }
  #switch span::before {
      position: absolute;
      content: "";
      height: 12px;
      width: 12px;
      background-color: #00e8e1;
      transition: 0.5s;
      border-radius: 50%;
      border: 1px solid white;
  }
  #switch input:checked + span:before {
    transform: translateX(1em);
  }
  #switch input:checked + span {
    background-color: #00e8e1;
  }
  section{
      margin-top: 70px
  }
  .topImg {
    box-shadow: 5px 5px 5px 0 rgba(0,0,0,.2);
    border-radius: 20px;
    display: block;
    margin: 60px 15% 0px;
    width: 70%;
}

.imgTopCont{
    position: relative;
    text-align: center;
    color: white;
}